<div
    class="h-full flex-auto pt-4 sm:px-4 sm:pb-4 overflow-hidden"
    cdkScrollable
    *ngIf="template()?.data as template"
>
    <fuse-alert
        [type]="'error'"
        *ngIf="errors().length > 0"
        class="w-full pb-2 overflow-hidden"
    >
        <span fuseAlertTitle>Error</span>
        <span *ngFor="let error of errors()"> {{ error.message }}</span>
    </fuse-alert>
    <form
        *ngIf="productForm() as productForm"
        id="ngForm"
        #productNgForm="ngForm"
        (ngSubmit)="onSaveProduct(productNgForm)"
        [formGroup]="productForm"
        class="flex-1 overflow-y-auto"
    >
        <app-json-form
            [template]="template"
            [form]="productForm"
            [values]="product()?.data"
        >
            <ng-template jsonFormFirstCol>
                <div class="w-full my-1">
                    <mat-expansion-panel [expanded]="true" class="mr-2 h-max">
                        <mat-expansion-panel-header class="dark:bg-gray-700">
                            <mat-panel-title>
                                Mandatory Fields
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="flex flex-col gap-1 md:gap-2 mt-2">
                            <input
                                type="hidden"
                                name="templateId"
                                formControlName="templateId"
                            />
                            <mat-form-field class="w-full">
                                <mat-label>Product Name</mat-label>
                                <input
                                    matInput
                                    name="name"
                                    formControlName="name"
                                />
                                <mat-error
                                    *ngIf="
                                        productForm.controls &&
                                        productForm.controls['name']?.touched &&
                                        productForm.controls['name']?.invalid
                                    "
                                    class="flex flex-col gap-2"
                                >
                                    <span
                                        *ngIf="
                                            productForm.controls['name'] &&
                                            productForm.controls['name']
                                                .errors &&
                                            productForm.controls['name'].errors
                                                .required
                                        "
                                        >Product name is mandatory</span
                                    >
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Product status</mat-label>
                                <mat-select
                                    placeholder="Product status"
                                    formControlName="status"
                                    name="status"
                                >
                                    <mat-option>Select</mat-option>
                                    <ng-container *ngIf="statusOptions()">
                                        <mat-option
                                            *ngFor="
                                                let option of statusOptions()
                                            "
                                            [value]="option.name"
                                            >{{ option.name }}</mat-option
                                        >
                                    </ng-container>
                                </mat-select>
                                <mat-error
                                    *ngIf="
                                        productForm.controls &&
                                        productForm.controls['status']
                                            ?.touched &&
                                        productForm.controls['status']?.invalid
                                    "
                                    class="flex flex-col gap-2"
                                >
                                    <span
                                        *ngIf="
                                            productForm.controls['status'] &&
                                            productForm.controls['status']
                                                .errors &&
                                            productForm.controls['status']
                                                .errors.required
                                        "
                                        >Product status is mandatory</span
                                    >
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Product Type</mat-label>
                                <mat-select
                                    placeholder="Product status"
                                    name="type"
                                    formControlName="type"
                                >
                                    <mat-option>Select</mat-option>
                                    <ng-container *ngIf="typeOptions()">
                                        <mat-option
                                            *ngFor="let option of typeOptions()"
                                            [value]="option.name"
                                            >{{ option.name }}</mat-option
                                        >
                                    </ng-container>
                                </mat-select>
                                <mat-error
                                    *ngIf="
                                        productForm.controls &&
                                        productForm.controls['type']?.touched &&
                                        productForm.controls['type']?.invalid
                                    "
                                    class="flex flex-col gap-2"
                                >
                                    <span
                                        *ngIf="
                                            productForm.controls['type'] &&
                                            productForm.controls['type']
                                                .errors &&
                                            productForm.controls['type'].errors
                                                .required
                                        "
                                        >Product type is mandatory</span
                                    >
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="w-full">
                                <mat-label>Product category</mat-label>
                                <mat-select
                                    placeholder="Product category"
                                    name="category"
                                    formControlName="category"
                                >
                                    <mat-option>Select</mat-option>
                                    <ng-container *ngIf="categoryOptions()">
                                        <mat-option
                                            *ngFor="
                                                let option of categoryOptions()
                                            "
                                            [value]="option.name"
                                            >{{ option.name }}</mat-option
                                        >
                                    </ng-container>
                                </mat-select>
                                <mat-error
                                    *ngIf="
                                        productForm.controls &&
                                        productForm.controls['category']
                                            ?.touched &&
                                        productForm.controls['category']
                                            ?.invalid
                                    "
                                    class="flex flex-col gap-2"
                                >
                                    <span
                                        *ngIf="
                                            productForm.controls['category'] &&
                                            productForm.controls['category']
                                                .errors &&
                                            productForm.controls['category']
                                                .errors.required
                                        "
                                        >Product category is mandatory</span
                                    >
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>
                </div>
            </ng-template>
        </app-json-form>
    </form>
</div>
