<div class="w-full h-full flex flex-col overflow-hidden">
    <div class="w-full overflow-hidden">
        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
            <mat-label>Search user</mat-label>
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:user'"
                matPrefix
            ></mat-icon>
            <input matInput [placeholder]="'Email address'" />
            <button mat-icon-button matSuffix>
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:plus-circle'"
                ></mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div
        class="flex flex-col mt-8 divide-y border-t border-b flex-1 overflow-y-auto"
    >
        @for (user of $users().data; track trackByFn($index, user)) {
  
            <div class="flex justify-between items-center gap-3">
                <div class="w-5/12 flex items-center">
                    <div
                        class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden"
                    >
                        @if (user.avatar) {

                            <img
                                class="object-cover w-full h-full"
                                [src]="user.avatar"
                                alt="Contact avatar"
                            />
                        
}
                        @if (!user.avatar) {

                            <div
                                class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                            >
                                {{ user.fullName.charAt(0) }}
                            </div>
                        
}
                    </div>
                    <div class="ml-4">
                        <div class="font-medium">{{ user.fullName }}</div>
                        <div class="text-secondary">{{ user.email }}</div>
                    </div>
                </div>
                <div class="w-7/12 flex items-center mt-4">
                    <form [formGroup]="chipForm" class="w-full">
                        <mat-form-field class="w-full">
                            <mat-chip-grid
                                #chipGrid
                                aria-label="Role selection"
                            >
                                @for (role of selectedRoles[user.id]; track role) {
  <mat-chip-row
                                   
                                    (removed)="remove(user.id, role)"
                                >
                                    {{ role }}
                                    <button
                                        matChipRemove
                                        [attr.aria-label]="'remove ' + role"
                                    >
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
}
                                <input
                                    placeholder="New Role..."
                                    formControlName="roleCtrl"
                                    [matChipInputFor]="chipGrid"
                                    [matAutocomplete]="auto"
                                    [matChipInputSeparatorKeyCodes]="
                                        separatorKeysCodes
                                    "
                                    (matChipInputTokenEnd)="
                                        add(user.id, $event)
                                    "
                                />
                                <mat-autocomplete
                                    #auto="matAutocomplete"
                                    (optionSelected)="selected(user.id, $event)"
                                >
                                    @for (
                                            role of filteredRoles | async
                                        ; track 
                                            role) {
  <mat-option
                                       
                                        [value]="role"
                                    >
                                        {{ role }}
                                    </mat-option>
}
                                </mat-autocomplete>
                            </mat-chip-grid>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        
}
    </div>
</div>
