<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img
                class="w-64"
                src="assets/images/logo/winshasa_logo.png"
                alt="Logo image"
            />
            <h1>Welcome to Winshasa</h1>
            <p>
                Winshasa offers a catalog of products that help
                telecommunications & renewable energy companies manage their
                sites & assets Provide a vendor management system to records all
                thirds parties work needed on the site or assets
            </p>
        </div>
        <div>
            <a
                class="mt-8"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="'/example'"
            >
                <span>Launch the App</span>
                <mat-icon
                    class="ml-2 icon-size-5"
                    [svgIcon]="'heroicons_mini:arrow-long-right'"
                ></mat-icon>
            </a>
        </div>
    </div>
</div>
