<div
    [class]="
        'flex flex-row flex-wrap overflow-auto form-container ' + formClass
    "
    *ngIf="template"
    [formGroup]="form"
    [ngStyle]="formStyle"
>
    <ng-container
        *ngTemplateOutlet="
            firstCol?.tpl;
            context: { form: form, template: template }
        "
    ></ng-container>
    <div
        [class]="'w-80  my-1 form-group ' + formGroupClass"
        *ngFor="let group of template?.details?.groups; let i = index"
        formGroupName="details"
    >
        <mat-expansion-panel
            [expanded]="template.details?.settings?.expandAllGroups ?? i === 0"
            class="mr-2 h-max"
        >
            <mat-expansion-panel-header class="dark:bg-gray-700">
                <mat-panel-title>
                    {{ group.name }}
                </mat-panel-title>
                <mat-panel-description class="flex justify-end items-center">
                    <span>{{ group.fields.length }} field(s)</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-container *ngIf="group.fields.length > 0">
                <div
                    [ngClass]="{ 'mt-3': fieldIndex === 0 }"
                    class="w-full"
                    *ngFor="let field of group.fields; let fieldIndex = index"
                >
                    <!-- Text fields -->
                    <mat-form-field
                        *ngIf="isTextField(field.type)"
                        class="w-full"
                    >
                        <mat-label *ngIf="field.name !== ''">{{
                            field.name
                        }}</mat-label>
                        <input
                            matInput
                            [type]="field.type"
                            [formControlName]="field.name"
                            [placeholder]="field.placeholder ?? field.name"
                        />
                        <mat-hint *ngIf="field?.hintMessage">{{
                            field.hintMessage
                        }}</mat-hint>

                        <mat-error
                            *ngIf="
                                form.controls &&
                                form.controls[field.name]?.touched &&
                                form.controls[field.name]?.invalid
                            "
                            class="flex flex-col gap-2"
                        >
                            <ng-container
                                [ngTemplateOutlet]="errorTemplate"
                                [ngTemplateOutletContext]="{ field: field }"
                            >
                            </ng-container>
                        </mat-error>
                    </mat-form-field>

                    <!-- Number -->
                    <mat-form-field
                        *ngIf="field.type === 'number'"
                        class="w-full"
                    >
                        <mat-label *ngIf="field.name !== ''">{{
                            field.name
                        }}</mat-label>
                        <input
                            matInput
                            [type]="field.type"
                            [formControlName]="field.name"
                            [placeholder]="field.placeholder ?? field.name"
                        />
                        <mat-hint *ngIf="field?.hintMessage">{{
                            field.hintMessage
                        }}</mat-hint>

                        <mat-error
                            *ngIf="
                                form.controls &&
                                form.controls[field.name]?.touched &&
                                form.controls[field.name]?.invalid
                            "
                            class="flex flex-col gap-2"
                        >
                            <ng-container
                                [ngTemplateOutlet]="errorTemplate"
                                [ngTemplateOutletContext]="{ field: field }"
                            >
                            </ng-container>
                        </mat-error>
                    </mat-form-field>

                    <!-- Textarea -->
                    <mat-form-field
                        *ngIf="field.type === 'textarea'"
                        class="w-full"
                    >
                        <mat-label *ngIf="field.name !== ''">{{
                            field.name
                        }}</mat-label>
                        <textarea
                            matInput
                            [formControlName]="field.name"
                            [placeholder]="field.placeholder ?? field.name"
                        ></textarea>
                        <mat-hint *ngIf="field?.hintMessage">{{
                            field.hintMessage
                        }}</mat-hint>
                        <mat-error
                            *ngIf="
                                form.controls &&
                                form.controls[field.name]?.touched &&
                                form.controls[field.name]?.invalid
                            "
                            class="flex flex-col gap-2"
                        >
                            <ng-container
                                [ngTemplateOutlet]="errorTemplate"
                                [ngTemplateOutletContext]="{ field: field }"
                            >
                            </ng-container>
                        </mat-error>
                    </mat-form-field>

                    <!-- Checkbox -->
                    <mat-checkbox
                        class="pb-4"
                        *ngIf="field.type === 'checkbox'"
                        [formControlName]="field.name"
                        [labelPosition]="field.labelPosition"
                        [color]="'primary'"
                    >
                        {{ field.name }}
                        <mat-hint *ngIf="field?.hintMessage">{{
                            field.hintMessage
                        }}</mat-hint>
                        <mat-error
                            *ngIf="
                                form.controls &&
                                form.controls[field.name]?.touched &&
                                form.controls[field.name]?.invalid
                            "
                            class="flex flex-col gap-2"
                        >
                            <ng-container
                                [ngTemplateOutlet]="errorTemplate"
                                [ngTemplateOutletContext]="{ field: field }"
                            >
                            </ng-container>
                        </mat-error>
                    </mat-checkbox>

                    <!-- Radio -->
                    <div
                        *ngIf="field.type === 'radio'"
                        class="flex flex-col gap-1 w-full pb-4"
                    >
                        <label class="font-bold">{{ field.name }}</label>
                        <mat-radio-group
                            [formControlName]="field.name"
                            class="flex gap-2"
                        >
                            <ng-container *ngIf="field.options">
                                <mat-radio-button
                                    *ngFor="
                                        let option of field.options.split(';')
                                    "
                                    [value]="option"
                                    [color]="'primary'"
                                    [labelPosition]="field.labelPosition"
                                >
                                    {{ option | uppercase }}
                                </mat-radio-button>
                            </ng-container>
                        </mat-radio-group>
                        <mat-error
                            *ngIf="
                                form.controls &&
                                form.controls[field.name]?.touched &&
                                form.controls[field.name]?.invalid
                            "
                            class="flex flex-col gap-2"
                        >
                            <ng-container
                                [ngTemplateOutlet]="errorTemplate"
                                [ngTemplateOutletContext]="{ field: field }"
                            >
                            </ng-container>
                        </mat-error>
                    </div>

                    <!-- Select -->
                    <mat-form-field
                        *ngIf="field.type === 'select'"
                        class="w-full"
                    >
                        <mat-label *ngIf="field.name !== ''">{{
                            field.name
                        }}</mat-label>
                        <mat-select
                            [placeholder]="field.placeholder ?? field.name"
                            [formControlName]="field.name"
                        >
                            <mat-option>Select</mat-option>
                            <ng-container *ngIf="field.options">
                                <mat-option
                                    *ngFor="
                                        let option of field.options.split(';')
                                    "
                                    [value]="option"
                                    >{{ option }}</mat-option
                                >
                            </ng-container>
                        </mat-select>
                        <mat-hint *ngIf="field?.hintMessage">{{
                            field.hintMessage
                        }}</mat-hint>
                        <mat-error
                            *ngIf="
                                form.controls &&
                                form.controls[field.name]?.touched &&
                                form.controls[field.name]?.invalid
                            "
                            class="flex flex-col gap-2"
                        >
                            <ng-container
                                [ngTemplateOutlet]="errorTemplate"
                                [ngTemplateOutletContext]="{ field: field }"
                            >
                            </ng-container>
                        </mat-error>
                    </mat-form-field>

                    <!-- Multi Select -->
                    <mat-form-field
                        *ngIf="field.type === 'multi-select'"
                        class="w-full"
                    >
                        <mat-label *ngIf="field.name !== ''">{{
                            field.name
                        }}</mat-label>
                        <mat-select
                            [placeholder]="field.placeholder ?? field.name"
                            [formControlName]="field.name"
                            multiple
                        >
                            <mat-option [value]="">Select</mat-option>
                            <ng-container *ngIf="field.options">
                                <mat-option
                                    *ngFor="
                                        let option of field.options.split(';')
                                    "
                                    [value]="option"
                                    >{{ option }}</mat-option
                                >
                            </ng-container>
                        </mat-select>
                        <mat-hint *ngIf="field?.hintMessage">{{
                            field.hintMessage
                        }}</mat-hint>
                        <mat-error
                            *ngIf="
                                form.controls &&
                                form.controls[field.name]?.touched &&
                                form.controls[field.name]?.invalid
                            "
                            class="flex flex-col gap-2"
                        >
                            <ng-container
                                [ngTemplateOutlet]="errorTemplate"
                                [ngTemplateOutletContext]="{ field: field }"
                            >
                            </ng-container>
                        </mat-error>
                    </mat-form-field>

                    <!-- Date -->
                    <mat-form-field
                        *ngIf="field.type === 'date'"
                        class="w-full"
                    >
                        <mat-label *ngIf="field.name !== ''">{{
                            field.name
                        }}</mat-label>
                        <input
                            matInput
                            [matDatepicker]="picker"
                            [formControlName]="field.name"
                        />
                        <mat-hint *ngIf="field?.hintMessage">{{
                            field.hintMessage ?? "MM/DD/YYYY"
                        }}</mat-hint>
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error
                            *ngIf="
                                form.controls &&
                                form.controls[field.name]?.touched &&
                                form.controls[field.name]?.invalid
                            "
                            class="flex flex-col gap-2"
                        >
                            <ng-container
                                [ngTemplateOutlet]="errorTemplate"
                                [ngTemplateOutletContext]="{ field: field }"
                            >
                            </ng-container>
                        </mat-error>
                    </mat-form-field>

                    <!-- Date Range -->
                    <mat-form-field
                        *ngIf="field.type === 'date-range'"
                        class="w-full"
                    >
                        <mat-label *ngIf="field.name !== ''">{{
                            field.name
                        }}</mat-label>
                        <mat-date-range-input
                            [rangePicker]="picker"
                            [formGroupName]="field.name"
                        >
                            <input
                                matStartDate
                                [formControlName]="'start'"
                                placeholder="Start date"
                            />
                            <input
                                matEndDate
                                [formControlName]="'end'"
                                placeholder="End date"
                            />
                        </mat-date-range-input>
                        <mat-hint *ngIf="field?.hintMessage">{{
                            field.hintMessage ?? "MM/DD/YYYY - MM/DD/YYYY"
                        }}</mat-hint>
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                        <mat-error
                            *ngIf="
                                form.controls &&
                                form.controls[field.name]?.touched &&
                                form.controls[field.name]?.invalid
                            "
                            class="flex flex-col gap-2"
                        >
                            <ng-container
                                [ngTemplateOutlet]="errorTemplate"
                                [ngTemplateOutletContext]="{ field: field }"
                            >
                            </ng-container>
                        </mat-error>
                    </mat-form-field>

                    <!-- Time -->
                    <mat-form-field
                        *ngIf="field.type === 'time'"
                        class="w-full"
                    >
                        <mat-label *ngIf="field.name !== ''">{{
                            field.name
                        }}</mat-label>
                        <input
                            matTimepicker
                            [formControlName]="field.name"
                            [placeholder]="field.placeholder ?? field.name"
                        />
                        <mat-hint *ngIf="field?.hintMessage">{{
                            field.hintMessage ?? "HH:mm:ss"
                        }}</mat-hint>
                        <mat-error
                            *ngIf="
                                form.controls &&
                                form.controls[field.name]?.touched &&
                                form.controls[field.name]?.invalid
                            "
                            class="flex flex-col gap-2"
                        >
                            <ng-container
                                [ngTemplateOutlet]="errorTemplate"
                                [ngTemplateOutletContext]="{ field: field }"
                            >
                            </ng-container>
                        </mat-error>
                    </mat-form-field>

                    <!-- Slider -->
                    <div
                        *ngIf="field.type === 'slider'"
                        class="flex flex-col gap-1 w-full pb-4"
                    >
                        <label *ngIf="field.name !== ''">{{
                            field.name
                        }}</label>
                        <mat-slider
                            [min]="
                                field &&
                                field.sliderOptions &&
                                field.sliderOptions.min
                            "
                            [max]="
                                field &&
                                field.sliderOptions &&
                                field.sliderOptions.max
                            "
                            [step]="
                                field &&
                                field.sliderOptions &&
                                field.sliderOptions.step
                            "
                            [showTickMarks]="field.sliderOptions.showTicks"
                            [discrete]="field.sliderOptions.thumbLabel"
                            [disabled]="field.sliderOptions.disabled"
                            [color]="'primary'"
                            [displayWith]="formatSliderLabel"
                            [value]="slider.value"
                        >
                            <input
                                #slider
                                matSliderThumb
                                [formControlName]="field.name"
                            />
                        </mat-slider>

                        <mat-hint *ngIf="field?.hintMessage">{{
                            field.hintMessage
                        }}</mat-hint>
                        <mat-error
                            *ngIf="
                                form.controls &&
                                form.controls[field.name]?.touched &&
                                form.controls[field.name]?.invalid
                            "
                            class="flex flex-col gap-2"
                        >
                            <ng-container
                                [ngTemplateOutlet]="errorTemplate"
                                [ngTemplateOutletContext]="{ field: field }"
                            >
                            </ng-container>
                        </mat-error>
                    </div>

                    <!-- Autocomplete  -->
                    <mat-form-field
                        class="w-full"
                        appearance="fill"
                        *ngIf="field.type === 'autocomplete'"
                    >
                        <mat-label *ngIf="field.name !== ''">{{
                            field.name
                        }}</mat-label>
                        <input
                            type="text"
                            aria-label="
                                {{ field.placeholder ?? field.name }}
                            "
                            matInput
                            [placeholder]="field.placeholder ?? field.name"
                            [formControlName]="field.name"
                            [matAutocomplete]="auto"
                        />
                        <mat-autocomplete
                            autoActiveFirstOption
                            #auto="matAutocomplete"
                        >
                            <ng-container *ngIf="field.options">
                                <mat-option
                                    *ngFor="
                                        let option of field.options.split(';')
                                    "
                                    [value]="option"
                                    >{{ option }}</mat-option
                                >
                            </ng-container>
                        </mat-autocomplete>
                        <mat-error
                            *ngIf="
                                form.controls[field.name]?.touched &&
                                form.controls[field.name]?.invalid
                            "
                            class="flex flex-col gap-2"
                        >
                            <ng-container
                                [ngTemplateOutlet]="errorTemplate"
                                [ngTemplateOutletContext]="{ field: field }"
                            >
                            </ng-container>
                        </mat-error>
                    </mat-form-field>

                    <!-- Multi Autocomplete -->
                    <mat-form-field
                        class="w-full"
                        appearance="fill"
                        *ngIf="field.type === 'multi-autocomplete'"
                    >
                        <mat-label *ngIf="field.name !== ''">{{
                            field.name
                        }}</mat-label>
                        <mat-chip-list
                            #chipList
                            aria-label="{{ field.placeholder ?? field.name }}"
                        >
                            <!-- <mat-chip
                                *ngFor="
                                    let option of field.options.split(
                                        ';'
                                    )
                                "
                                (removed)="remove(option)"
                            >
                                {{ option }}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip> -->
                            <input
                                placeholder="{{
                                    field.placeholder ?? field.name
                                }}"
                                #fruitInput
                                [formControlName]="field.name"
                                [matAutocomplete]="auto"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="
                                    separatorKeysCodes
                                "
                                (matChipInputTokenEnd)="add($event)"
                            />
                        </mat-chip-list>
                        <mat-autocomplete
                            #auto="matAutocomplete"
                            (optionSelected)="selected($event)"
                        >
                            <ng-container *ngIf="field.options">
                                <mat-option
                                    *ngFor="
                                        let option of field.options.split(';')
                                    "
                                    [value]="option"
                                    >{{ option }}</mat-option
                                >
                            </ng-container>
                        </mat-autocomplete>
                        <mat-error
                            *ngIf="
                                form.controls &&
                                form.controls[field.name]?.touched &&
                                form.controls[field.name]?.invalid
                            "
                            class="flex flex-col gap-2"
                        >
                            <ng-container
                                [ngTemplateOutlet]="errorTemplate"
                                [ngTemplateOutletContext]="{ field: field }"
                            >
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
            </ng-container>
        </mat-expansion-panel>
    </div>
</div>

<ng-template #errorTemplate let-field="field">
    <span
        *ngIf="
            form.controls[field.name] &&
            form.controls[field.name].errors &&
            form.controls[field.name].errors.required
        "
        >{{ field.name }} is mandatory</span
    >
    <span
        *ngIf="
            form.controls[field.name] &&
            form.controls[field.name].errors &&
            form.controls[field.name].errors.min
        "
        >{{ field.name }} minimum value is
        {{ form.controls[field.name].errors.min.min }}</span
    >
    <span
        *ngIf="
            form.controls[field.name] &&
            form.controls[field.name].errors &&
            form.controls[field.name].errors.max
        "
        >{{ field.name }} maximum value is
        {{ form.controls[field.name].errors.max.max }}</span
    >
    <span
        *ngIf="
            form.controls[field.name] &&
            form.controls[field.name].errors &&
            form.controls[field.name].errors.minlength
        "
        >{{ field.name }} minimum length value is
        {{ form.controls[field.name].errors.minlength.requiredLength }}
    </span>
    <span
        *ngIf="
            form.controls[field.name] &&
            form.controls[field.name].errors &&
            form.controls[field.name].errors.maxlength
        "
        >{{ field.name }} maximum length value is
        {{ form.controls[field.name].errors.maxlength.requiredLength }}</span
    >
    <span
        *ngIf="
            form.controls[field.name] &&
            form.controls[field.name].errors &&
            form.controls[field.name].errors.pattern
        "
        >{{ field.name }} is invalid, please follow this rule "{{
            this.getPatternName(
                form.controls[field.name].errors.pattern.requiredPattern
            )
        }}"</span
    >
    <span
        *ngIf="
            form.controls[field.name] &&
            form.controls[field.name].errors &&
            form.controls[field.name].errors.nullValidator
        "
        >{{ field.name }} cannot be null</span
    >
    <span
        *ngIf="
            form.controls[field.name] &&
            form.controls[field.name].errors &&
            form.controls[field.name].errors.email
        "
        >{{ field.name }} is incorrect (example&#64;test.com)</span
    >
</ng-template>
