@if (template) {
<div
    class="flex flex-row flex-wrap overflow-auto form-container"
    [class]="formClass"
    [formGroup]="form"
>
    <ng-container
        *ngTemplateOutlet="
            firstCol?.tpl;
            context: { form: form, template: template }
        "
    ></ng-container>
    @for (group of template?.details?.groups; track group; let i = $index) {
    <div
        [class]="'w-80  my-1 form-group ' + formGroupClass"
        formGroupName="details"
    >
        <mat-expansion-panel
            [expanded]="template.details?.settings?.expandAllGroups ?? i === 0"
            class="mr-2 h-max"
        >
            <mat-expansion-panel-header class="dark:bg-gray-700">
                <mat-panel-title>
                    {{ group.name }}
                </mat-panel-title>
                <mat-panel-description class="flex justify-end items-center">
                    <span>{{ group.fields.length }} field(s)</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            @if (group.fields.length > 0) { @for (field of group.fields; track
            field; let fieldIndex = $index) {
            <div [ngClass]="{ 'mt-3': fieldIndex === 0 }" class="w-full">
                <!-- Text fields -->
                @if (isTextField(field.type)) {
                <mat-form-field class="w-full">
                    @if (field.name !== '') {
                    <mat-label>{{ field.name }}</mat-label>
                    }
                    <input
                        matInput
                        [type]="field.type"
                        [formControlName]="field.name"
                        [placeholder]="field.placeholder ?? field.name"
                    />
                    @if (field?.hintMessage) {
                    <mat-hint>{{ field.hintMessage }}</mat-hint>
                    } @if ( form.controls && form.controls[field.name]?.touched
                    && form.controls[field.name]?.invalid ) {
                    <mat-error class="flex flex-col gap-2">
                        <ng-container
                            [ngTemplateOutlet]="errorTemplate"
                            [ngTemplateOutletContext]="{ field: field }"
                        >
                        </ng-container>
                    </mat-error>
                    }
                </mat-form-field>
                }

                <!-- Number -->
                @if (field.type === 'number') {
                <mat-form-field class="w-full">
                    @if (field.name !== '') {
                    <mat-label>{{ field.name }}</mat-label>
                    }
                    <input
                        matInput
                        [type]="field.type"
                        [formControlName]="field.name"
                        [placeholder]="field.placeholder ?? field.name"
                    />
                    @if (field?.hintMessage) {
                    <mat-hint>{{ field.hintMessage }}</mat-hint>
                    } @if ( form.controls && form.controls[field.name]?.touched
                    && form.controls[field.name]?.invalid ) {
                    <mat-error class="flex flex-col gap-2">
                        <ng-container
                            [ngTemplateOutlet]="errorTemplate"
                            [ngTemplateOutletContext]="{ field: field }"
                        >
                        </ng-container>
                    </mat-error>
                    }
                </mat-form-field>
                }

                <!-- Textarea -->
                @if (field.type === 'textarea') {
                <mat-form-field class="w-full">
                    @if (field.name !== '') {
                    <mat-label>{{ field.name }}</mat-label>
                    }
                    <textarea
                        matInput
                        [formControlName]="field.name"
                        [placeholder]="field.placeholder ?? field.name"
                    ></textarea>
                    @if (field?.hintMessage) {
                    <mat-hint>{{ field.hintMessage }}</mat-hint>
                    } @if ( form.controls && form.controls[field.name]?.touched
                    && form.controls[field.name]?.invalid ) {
                    <mat-error class="flex flex-col gap-2">
                        <ng-container
                            [ngTemplateOutlet]="errorTemplate"
                            [ngTemplateOutletContext]="{ field: field }"
                        >
                        </ng-container>
                    </mat-error>
                    }
                </mat-form-field>
                }

                <!-- Checkbox -->
                @if (field.type === 'checkbox') {
                <mat-checkbox
                    class="pb-4"
                    [formControlName]="field.name"
                    [labelPosition]="field.labelPosition"
                    [color]="'primary'"
                >
                    {{ field.name }}
                    @if (field?.hintMessage) {
                    <mat-hint>{{ field.hintMessage }}</mat-hint>
                    } @if ( form.controls && form.controls[field.name]?.touched
                    && form.controls[field.name]?.invalid ) {
                    <mat-error class="flex flex-col gap-2">
                        <ng-container
                            [ngTemplateOutlet]="errorTemplate"
                            [ngTemplateOutletContext]="{ field: field }"
                        >
                        </ng-container>
                    </mat-error>
                    }
                </mat-checkbox>
                }

                <!-- Radio -->
                @if (field.type === 'radio') {
                <div class="flex flex-col gap-1 w-full pb-4">
                    <label class="font-bold">{{ field.name }}</label>
                    <mat-radio-group
                        [formControlName]="field.name"
                        class="flex gap-2"
                    >
                        @if (field.options) { @for ( option of
                        field.options.split(';') ; track option) {
                        <mat-radio-button
                            [value]="option"
                            [color]="'primary'"
                            [labelPosition]="field.labelPosition"
                        >
                            {{ option | uppercase }}
                        </mat-radio-button>
                        } }
                    </mat-radio-group>
                    @if ( form.controls && form.controls[field.name]?.touched &&
                    form.controls[field.name]?.invalid ) {
                    <mat-error class="flex flex-col gap-2">
                        <ng-container
                            [ngTemplateOutlet]="errorTemplate"
                            [ngTemplateOutletContext]="{ field: field }"
                        >
                        </ng-container>
                    </mat-error>
                    }
                </div>
                }

                <!-- Select -->
                @if (field.type === 'select') {
                <mat-form-field class="w-full">
                    @if (field.name !== '') {
                    <mat-label>{{ field.name }}</mat-label>
                    }
                    <mat-select
                        [placeholder]="field.placeholder ?? field.name"
                        [formControlName]="field.name"
                    >
                        <mat-option>Select</mat-option>
                        @if (field.options) { @for ( option of
                        field.options.split(';') ; track option) {
                        <mat-option [value]="option">{{ option }}</mat-option>
                        } }
                    </mat-select>
                    @if (field?.hintMessage) {
                    <mat-hint>{{ field.hintMessage }}</mat-hint>
                    } @if ( form.controls && form.controls[field.name]?.touched
                    && form.controls[field.name]?.invalid ) {
                    <mat-error class="flex flex-col gap-2">
                        <ng-container
                            [ngTemplateOutlet]="errorTemplate"
                            [ngTemplateOutletContext]="{ field: field }"
                        >
                        </ng-container>
                    </mat-error>
                    }
                </mat-form-field>
                }

                <!-- Multi Select -->
                @if (field.type === 'multi-select') {
                <mat-form-field class="w-full">
                    @if (field.name !== '') {
                    <mat-label>{{ field.name }}</mat-label>
                    }
                    <mat-select
                        [placeholder]="field.placeholder ?? field.name"
                        [formControlName]="field.name"
                        multiple
                    >
                        <mat-option [value]="">Select</mat-option>
                        @if (field.options) { @for ( option of
                        field.options.split(';') ; track option) {
                        <mat-option [value]="option">{{ option }}</mat-option>
                        } }
                    </mat-select>
                    @if (field?.hintMessage) {
                    <mat-hint>{{ field.hintMessage }}</mat-hint>
                    } @if ( form.controls && form.controls[field.name]?.touched
                    && form.controls[field.name]?.invalid ) {
                    <mat-error class="flex flex-col gap-2">
                        <ng-container
                            [ngTemplateOutlet]="errorTemplate"
                            [ngTemplateOutletContext]="{ field: field }"
                        >
                        </ng-container>
                    </mat-error>
                    }
                </mat-form-field>
                }

                <!-- Date -->
                @if (field.type === 'date') {
                <mat-form-field class="w-full">
                    @if (field.name !== '') {
                    <mat-label>{{ field.name }}</mat-label>
                    }
                    <input
                        matInput
                        [matDatepicker]="picker"
                        [formControlName]="field.name"
                    />
                    @if (field?.hintMessage) {
                    <mat-hint>{{ field.hintMessage ?? "MM/DD/YYYY" }}</mat-hint>
                    }
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if ( form.controls && form.controls[field.name]?.touched &&
                    form.controls[field.name]?.invalid ) {
                    <mat-error class="flex flex-col gap-2">
                        <ng-container
                            [ngTemplateOutlet]="errorTemplate"
                            [ngTemplateOutletContext]="{ field: field }"
                        >
                        </ng-container>
                    </mat-error>
                    }
                </mat-form-field>
                }

                <!-- Date Range -->
                @if (field.type === 'date-range') {
                <mat-form-field class="w-full">
                    @if (field.name !== '') {
                    <mat-label>{{ field.name }}</mat-label>
                    }
                    <mat-date-range-input
                        [rangePicker]="picker"
                        [formGroupName]="field.name"
                    >
                        <input
                            matStartDate
                            [formControlName]="'start'"
                            placeholder="Start date"
                        />
                        <input
                            matEndDate
                            [formControlName]="'end'"
                            placeholder="End date"
                        />
                    </mat-date-range-input>
                    @if (field?.hintMessage) {
                    <mat-hint>{{
                        field.hintMessage ?? "MM/DD/YYYY - MM/DD/YYYY"
                    }}</mat-hint>
                    }
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    @if ( form.controls && form.controls[field.name]?.touched &&
                    form.controls[field.name]?.invalid ) {
                    <mat-error class="flex flex-col gap-2">
                        <ng-container
                            [ngTemplateOutlet]="errorTemplate"
                            [ngTemplateOutletContext]="{ field: field }"
                        >
                        </ng-container>
                    </mat-error>
                    }
                </mat-form-field>
                }

                <!-- Time -->
                @if (field.type === 'time') {
                <mat-form-field class="w-full">
                    @if (field.name !== '') {
                    <mat-label>{{ field.name }}</mat-label>
                    }
                    <input
                        matTimepicker
                        [formControlName]="field.name"
                        [placeholder]="field.placeholder ?? field.name"
                    />
                    @if (field?.hintMessage) {
                    <mat-hint>{{ field.hintMessage ?? "HH:mm:ss" }}</mat-hint>
                    } @if ( form.controls && form.controls[field.name]?.touched
                    && form.controls[field.name]?.invalid ) {
                    <mat-error class="flex flex-col gap-2">
                        <ng-container
                            [ngTemplateOutlet]="errorTemplate"
                            [ngTemplateOutletContext]="{ field: field }"
                        >
                        </ng-container>
                    </mat-error>
                    }
                </mat-form-field>
                }

                <!-- Slider -->
                @if (field.type === 'slider') {
                <div class="flex flex-col gap-1 w-full pb-4">
                    @if (field.name !== '') {
                    <label>{{ field.name }}</label>
                    }
                    <mat-slider
                        [min]="
                            field &&
                            field.sliderOptions &&
                            field.sliderOptions.min
                        "
                        [max]="
                            field &&
                            field.sliderOptions &&
                            field.sliderOptions.max
                        "
                        [step]="
                            field &&
                            field.sliderOptions &&
                            field.sliderOptions.step
                        "
                        [showTickMarks]="field.sliderOptions.showTicks"
                        [discrete]="field.sliderOptions.thumbLabel"
                        [disabled]="field.sliderOptions.disabled"
                        [color]="'primary'"
                        [displayWith]="formatSliderLabel"
                        [formControlName]="field.name"
                    >
                        <input
                            #slider
                            matSliderThumb
                            [formControlName]="field.name"
                        />
                    </mat-slider>

                    @if (field?.hintMessage) {
                    <mat-hint>{{ field.hintMessage }}</mat-hint>
                    } @if ( form.controls && form.controls[field.name]?.touched
                    && form.controls[field.name]?.invalid ) {
                    <mat-error class="flex flex-col gap-2">
                        <ng-container
                            [ngTemplateOutlet]="errorTemplate"
                            [ngTemplateOutletContext]="{ field: field }"
                        >
                        </ng-container>
                    </mat-error>
                    }
                </div>
                }

                <!-- Autocomplete  -->
                @if (field.type === 'autocomplete') {
                <mat-form-field class="w-full" appearance="fill">
                    @if (field.name !== '') {
                    <mat-label>{{ field.name }}</mat-label>
                    }
                    <input
                        matInput
                        type="text"
                        [attr.aria-label]="field.placeholder ?? field.name"
                        [placeholder]="field.placeholder ?? field.name"
                        [formControlName]="field.name"
                        [matAutocomplete]="auto"
                    />
                    <mat-autocomplete
                        autoActiveFirstOption
                        #auto="matAutocomplete"
                    >
                        @if (field.options) { @for ( option of
                        field.options.split(';') ; track option) {
                        <mat-option [value]="option">{{ option }}</mat-option>
                        } }
                    </mat-autocomplete>
                    @if ( form.controls[field.name]?.touched &&
                    form.controls[field.name]?.invalid ) {
                    <mat-error class="flex flex-col gap-2">
                        <ng-container
                            [ngTemplateOutlet]="errorTemplate"
                            [ngTemplateOutletContext]="{ field: field }"
                        >
                        </ng-container>
                    </mat-error>
                    }
                </mat-form-field>
                }

                <!-- Multi Autocomplete -->
                <!-- @if (field.type === 'multi-autocomplete') {
                <mat-form-field class="w-full" appearance="fill">
                    @if (field.name !== '') {
                    <mat-label>{{ field.name }}</mat-label>
                    }
                    <mat-chip-list
                        #chipList
                        [attr.aria-label]="field.placeholder ?? field.name"
                    >
                         <mat-chip
                                *ngFor="
                                    let option of field.options.split(
                                        ';'
                                    )
                                "
                                (removed)="remove(option)"
                            >
                                {{ option }}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip> 
                        <input
                            placeholder="{{ field.placeholder ?? field.name }}"
                            #fruitInput
                            [formControlName]="field.name"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)"
                        />
                    </mat-chip-list>
                    <mat-autocomplete
                        #auto="matAutocomplete"
                        (optionSelected)="selected($event)"
                    >
                        @if (field.options) { @for ( option of
                        field.options.split(';') ; track option) {
                        <mat-option [value]="option">{{ option }}</mat-option>
                        } }
                    </mat-autocomplete>
                    @if ( form.controls && form.controls[field.name]?.touched &&
                    form.controls[field.name]?.invalid ) {
                    <mat-error class="flex flex-col gap-2">
                        <ng-container
                            [ngTemplateOutlet]="errorTemplate"
                            [ngTemplateOutletContext]="{ field: field }"
                        >
                        </ng-container>
                    </mat-error>
                    }
                </mat-form-field>
                } -->
            </div>
            } }
        </mat-expansion-panel>
    </div>
    }
</div>
}

<ng-template #errorTemplate let-field="field">
    @if ( form.controls[field.name] && form.controls[field.name].errors &&
    form.controls[field.name].errors.required ) {
    <span>{{ field.name }} is mandatory</span>
    } @if ( form.controls[field.name] && form.controls[field.name].errors &&
    form.controls[field.name].errors.min ) {
    <span
        >{{ field.name }} minimum value is
        {{ form.controls[field.name].errors.min.min }}</span
    >
    } @if ( form.controls[field.name] && form.controls[field.name].errors &&
    form.controls[field.name].errors.max ) {
    <span
        >{{ field.name }} maximum value is
        {{ form.controls[field.name].errors.max.max }}</span
    >
    } @if ( form.controls[field.name] && form.controls[field.name].errors &&
    form.controls[field.name].errors.minlength ) {
    <span
        >{{ field.name }} minimum length value is
        {{ form.controls[field.name].errors.minlength.requiredLength }}
    </span>
    } @if ( form.controls[field.name] && form.controls[field.name].errors &&
    form.controls[field.name].errors.maxlength ) {
    <span
        >{{ field.name }} maximum length value is
        {{ form.controls[field.name].errors.maxlength.requiredLength }}</span
    >
    } @if ( form.controls[field.name] && form.controls[field.name].errors &&
    form.controls[field.name].errors.pattern ) {
    <span
        >{{ field.name }} is invalid, please follow this rule "{{
            this.getPatternName(
                form.controls[field.name].errors.pattern.requiredPattern
            )
        }}"</span
    >
    } @if ( form.controls[field.name] && form.controls[field.name].errors &&
    form.controls[field.name].errors.nullValidator ) {
    <span>{{ field.name }} cannot be null</span>
    } @if ( form.controls[field.name] && form.controls[field.name].errors &&
    form.controls[field.name].errors.email ) {
    <span>{{ field.name }} is incorrect (example&#64;test.com)</span>
    }
</ng-template>
