<div
    class="flex-auto pt-6 sm:px-4 sm:pb-4 overflow-auto"
    cdkScrollable
    *ngIf="siteForm() as siteForm"
>
    <form
        [formGroup]="siteForm"
        id="ngForm"
        #generatedSiteForm="ngForm"
        (ngSubmit)="onSaveSite(generatedSiteForm)"
        *ngIf="template()?.data as template"
    >
        <app-json-form [template]="template" [form]="siteForm" [values]="site">
            <ng-template jsonFormFirstCol>
                <div class="w-full md:min-w-1/4 md:w-1/4 my-1">
                    <mat-expansion-panel [expanded]="true" class="mr-2 h-max">
                        <mat-expansion-panel-header class="dark:bg-gray-700">
                            <mat-panel-title>
                                Mandatory Fields
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="flex flex-col gap-1 md:gap-2 mt-2">
                            <mat-form-field class="w-full">
                                <mat-label>Site Name</mat-label>
                                <input
                                    matInput
                                    name="name"
                                    formControlName="name"
                                />
                                <mat-error
                                    *ngIf="
                                        siteForm.controls &&
                                        siteForm.controls['name']?.touched &&
                                        siteForm.controls['name']?.invalid
                                    "
                                    class="flex flex-col gap-2"
                                >
                                    <span
                                        *ngIf="
                                            siteForm.controls['name'] &&
                                            siteForm.controls['name'].errors &&
                                            siteForm.controls['name'].errors
                                                .required
                                        "
                                        >Site name is mandatory</span
                                    >
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Site status</mat-label>
                                <mat-select
                                    placeholder="Site status"
                                    formControlName="status_id"
                                    name="status_id"
                                >
                                    <mat-option>Select</mat-option>
                                    <ng-container *ngIf="statusOptions">
                                        <mat-option
                                            *ngFor="let option of statusOptions"
                                            [value]="option.id"
                                            >{{ option.name }}</mat-option
                                        >
                                    </ng-container>
                                </mat-select>
                                <mat-error
                                    *ngIf="
                                        siteForm.controls &&
                                        siteForm.controls['status_id']
                                            ?.touched &&
                                        siteForm.controls['status_id']?.invalid
                                    "
                                    class="flex flex-col gap-2"
                                >
                                    <span
                                        *ngIf="
                                            siteForm.controls['status_id'] &&
                                            siteForm.controls['status_id']
                                                .errors &&
                                            siteForm.controls['status_id']
                                                .errors.required
                                        "
                                        >Site status is mandatory</span
                                    >
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Site Type</mat-label>
                                <mat-select
                                    placeholder="Site status"
                                    name="type_id"
                                    formControlName="type_id"
                                >
                                    <mat-option>Select</mat-option>
                                    <ng-container *ngIf="typeOptions">
                                        <mat-option
                                            *ngFor="let option of typeOptions"
                                            [value]="option.id"
                                            >{{ option.name }}</mat-option
                                        >
                                    </ng-container>
                                </mat-select>
                                <mat-error
                                    *ngIf="
                                        siteForm.controls &&
                                        siteForm.controls['type_id']?.touched &&
                                        siteForm.controls['type_id']?.invalid
                                    "
                                    class="flex flex-col gap-2"
                                >
                                    <span
                                        *ngIf="
                                            siteForm.controls['type_id'] &&
                                            siteForm.controls['type_id']
                                                .errors &&
                                            siteForm.controls['type_id'].errors
                                                .required
                                        "
                                        >Site type is mandatory</span
                                    >
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Site Category</mat-label>
                                <mat-select
                                    placeholder="Site status"
                                    name="category_id"
                                    formControlName="category_id"
                                >
                                    <mat-option>Select</mat-option>
                                    <ng-container *ngIf="categoryOptions">
                                        <mat-option
                                            *ngFor="
                                                let option of categoryOptions
                                            "
                                            [value]="option.id"
                                            >{{ option.name }}</mat-option
                                        >
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Latitude</mat-label>
                                <input
                                    matInput
                                    name="latitude"
                                    formControlName="latitude"
                                />
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Longitude</mat-label>
                                <input
                                    matInput
                                    name="longitude"
                                    formControlName="longitude"
                                />
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>
                </div>
            </ng-template>
        </app-json-form>
    </form>
</div>
