@if (field.type === 'number') {
<mat-form-field class="w-full">
    @if (field.name !== '') {
<mat-label>{{ field.name }}</mat-label>
}
    <input
        matInput
        [type]="field.type"
        [formControlName]="field.name"
        [placeholder]="field.placeholder ?? field.name"
    />
    @if (field?.hintMessage) {
<mat-hint>{{ field.hintMessage }}</mat-hint>
}

    @if (
            form.controls &&
            form.controls[field.name]?.touched &&
            form.controls[field.name]?.invalid
        ) {
<mat-error
       
        class="flex flex-col gap-2"
    >
        <app-error-form-template
            [form]="form"
            [field]="field.name"
        ></app-error-form-template>
    </mat-error>
}
</mat-form-field>
}
