@if ($productForm(); as productForm) {
<form
   
    #productNgForm="ngForm"
    (ngSubmit)="onSubmitNewProduct(productNgForm)"
    [formGroup]="productForm"
    class="w-full flex flex-col flex-auto md:min-w-160 h-full"
>
    <div class="flex flex-col h-full space-y-3">
        @if (errors().length > 0) {
<fuse-alert [type]="'error'" class="w-full">
            <span fuseAlertTitle>Error</span>
            @for (error of errors(); track error) {
  <span> {{ error.message }}</span>
}
        </fuse-alert>
}

        <div class="w-full flex items-start gap-2">
            <div [class]="asModal ? 'w-full' : 'w-2/5'" class="space-y-3 p-3">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-label>Product Name</mat-label>
                    <input
                        type="text"
                        formControlName="name"
                        matInput
                        required
                        [placeholder]="'Product name'"
                    />
                    <mat-hint>Please type in the product name</mat-hint>
                    @if (
                            productForm.controls?.name?.touched &&
                            productForm.controls?.name?.invalid
                        ) {
<mat-error
                       
                    >
                        <app-error-form-template
                            [form]="productForm"
                            field="name"
                            name="Product name"
                        ></app-error-form-template>
                    </mat-error>
}
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Template</mat-label>
                    <mat-select
                        formControlName="templateId"
                        [placeholder]="'Template'"
                        required
                    >
                        <mat-option>Select</mat-option>
                        @for (option of $templateOpts(); track option) {
  <mat-option
                           
                            [value]="option.id"
                            >{{ option.name }}</mat-option
                        >
}
                    </mat-select>
                    <mat-hint>Please select a template</mat-hint>
                    @if (
                            productForm.controls?.name?.touched &&
                            productForm.controls?.name?.invalid
                        ) {
<mat-error
                       
                    >
                        <app-error-form-template
                            [form]="productForm"
                            field="templateId"
                            name="Product template"
                        ></app-error-form-template>
                    </mat-error>
}
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Product type</mat-label>
                    <mat-select
                        formControlName="type"
                        [placeholder]="'Product type'"
                        required
                    >
                        <mat-option>Select</mat-option>
                        @for (option of $productTypeOpts(); track option) {
  <mat-option
                           
                            [value]="option.name"
                            >{{ option.name }}</mat-option
                        >
}
                    </mat-select>
                    <mat-hint>Please select a type</mat-hint>
                    @if (
                            productForm.controls?.name?.touched &&
                            productForm.controls?.name?.invalid
                        ) {
<mat-error
                       
                    >
                        <app-error-form-template
                            [form]="productForm"
                            field="type"
                            name="Product type"
                        ></app-error-form-template>
                    </mat-error>
}
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Product status</mat-label>
                    <mat-select
                        formControlName="status"
                        [placeholder]="'Product status'"
                        required
                    >
                        <mat-option>Select</mat-option>
                        @for (option of $productStatusOpts(); track option) {
  <mat-option
                           
                            [value]="option.name"
                            >{{ option.name }}</mat-option
                        >
}
                    </mat-select>
                    <mat-hint>Please select a status</mat-hint>
                    @if (
                            productForm.controls?.name?.touched &&
                            productForm.controls?.name?.invalid
                        ) {
<mat-error
                       
                    >
                        <app-error-form-template
                            [form]="productForm"
                            field="status"
                            name="Product status"
                        ></app-error-form-template>
                    </mat-error>
}
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Product category</mat-label>
                    <mat-select
                        formControlName="category"
                        [placeholder]="'Product category'"
                    >
                        <mat-option>Select</mat-option>
                        @for (option of $productCategoryOpts(); track option) {
  <mat-option
                           
                            [value]="option.name"
                            >{{ option.name }}</mat-option
                        >
}
                    </mat-select>
                    <mat-hint>Please select a category</mat-hint>
                    @if (
                            productForm.controls?.name?.touched &&
                            productForm.controls?.name?.invalid
                        ) {
<mat-error
                       
                    >
                        <app-error-form-template
                            [form]="productForm"
                            field="category"
                            name="Product category"
                        ></app-error-form-template>
                    </mat-error>
}
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Project Template</mat-label>
                    <mat-select
                        formControlName="templateId"
                        placeholder="Project Template"
                    >
                        <mat-option>Select</mat-option>
                        @for (option of $templateOpts(); track option) {
  <mat-option
                           
                            [value]="option.id"
                            >{{ option.name }}</mat-option
                        >
}
                    </mat-select>
                    <mat-hint>Select a product Template</mat-hint>
                    @if (
                            productForm.controls?.templateId?.touched &&
                            productForm.controls?.templateId?.invalid
                        ) {
<mat-error
                       
                    >
                        <app-error-form-template
                            [form]="productForm"
                            field="templateId"
                            name="Project Template"
                        ></app-error-form-template>
                    </mat-error>
}
                </mat-form-field>
            </div>
            @if (!asModal) {
<div class="w-3/5">
                <app-json-form
                    [template]="$selectedTemplate()"
                    [form]="productForm"
                    [values]="$product().data"
                >
                </app-json-form>
            </div>
}
        </div>
    </div>
    <!-- Footer -->
    @if (showSaveButton) {
<div
       
        class="w-full flex items-center justify-end border-t p-2 pb-0 border-gray-50 dark:border-gray-700"
    >
        <button
            type="submit"
            class=""
            mat-flat-button
            [color]="'primary'"
            [disabled]="!productForm.valid"
        >
            Save
        </button>
    </div>
}
</form>
}
