<form
    *ngIf="$productForm() as productForm"
    #productNgForm="ngForm"
    (ngSubmit)="onSubmitNewProduct(productNgForm)"
    [formGroup]="productForm"
    class="w-full flex flex-col flex-auto md:min-w-160 h-full"
>
    <div class="flex flex-col h-full space-y-3">
        <fuse-alert [type]="'error'" *ngIf="errors().length > 0" class="w-full">
            <span fuseAlertTitle>Error</span>
            <span *ngFor="let error of errors()"> {{ error.message }}</span>
        </fuse-alert>

        <div class="w-full flex items-start gap-2">
            <div [class]="asModal ? 'w-full' : 'w-2/5'" class="space-y-3 p-3">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-label>Product Name</mat-label>
                    <input
                        type="text"
                        formControlName="name"
                        matInput
                        required
                        [placeholder]="'Product name'"
                    />
                    <mat-hint>Please type in the product name</mat-hint>
                    <mat-error
                        *ngIf="
                            productForm.controls?.name?.touched &&
                            productForm.controls?.name?.invalid
                        "
                    >
                        <app-error-form-template
                            [form]="productForm"
                            field="name"
                            name="Product name"
                        ></app-error-form-template>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Template</mat-label>
                    <mat-select
                        formControlName="templateId"
                        [placeholder]="'Template'"
                        required
                    >
                        <mat-option>Select</mat-option>
                        <mat-option
                            *ngFor="let option of $templateOpts()"
                            [value]="option.id"
                            >{{ option.name }}</mat-option
                        >
                    </mat-select>
                    <mat-hint>Please select a template</mat-hint>
                    <mat-error
                        *ngIf="
                            productForm.controls?.name?.touched &&
                            productForm.controls?.name?.invalid
                        "
                    >
                        <app-error-form-template
                            [form]="productForm"
                            field="templateId"
                            name="Product template"
                        ></app-error-form-template>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Product type</mat-label>
                    <mat-select
                        formControlName="type"
                        [placeholder]="'Product type'"
                        required
                    >
                        <mat-option>Select</mat-option>
                        <mat-option
                            *ngFor="let option of $productTypeOpts()"
                            [value]="option.name"
                            >{{ option.name }}</mat-option
                        >
                    </mat-select>
                    <mat-hint>Please select a type</mat-hint>
                    <mat-error
                        *ngIf="
                            productForm.controls?.name?.touched &&
                            productForm.controls?.name?.invalid
                        "
                    >
                        <app-error-form-template
                            [form]="productForm"
                            field="type"
                            name="Product type"
                        ></app-error-form-template>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Product status</mat-label>
                    <mat-select
                        formControlName="status"
                        [placeholder]="'Product status'"
                        required
                    >
                        <mat-option>Select</mat-option>
                        <mat-option
                            *ngFor="let option of $productStatusOpts()"
                            [value]="option.name"
                            >{{ option.name }}</mat-option
                        >
                    </mat-select>
                    <mat-hint>Please select a status</mat-hint>
                    <mat-error
                        *ngIf="
                            productForm.controls?.name?.touched &&
                            productForm.controls?.name?.invalid
                        "
                    >
                        <app-error-form-template
                            [form]="productForm"
                            field="status"
                            name="Product status"
                        ></app-error-form-template>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Product category</mat-label>
                    <mat-select
                        formControlName="category"
                        [placeholder]="'Product category'"
                    >
                        <mat-option>Select</mat-option>
                        <mat-option
                            *ngFor="let option of $productCategoryOpts()"
                            [value]="option.name"
                            >{{ option.name }}</mat-option
                        >
                    </mat-select>
                    <mat-hint>Please select a category</mat-hint>
                    <mat-error
                        *ngIf="
                            productForm.controls?.name?.touched &&
                            productForm.controls?.name?.invalid
                        "
                    >
                        <app-error-form-template
                            [form]="productForm"
                            field="category"
                            name="Product category"
                        ></app-error-form-template>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Project Template</mat-label>
                    <mat-select
                        formControlName="templateId"
                        placeholder="Project Template"
                    >
                        <mat-option>Select</mat-option>
                        <mat-option
                            *ngFor="let option of $templateOpts()"
                            [value]="option.id"
                            >{{ option.name }}</mat-option
                        >
                    </mat-select>
                    <mat-hint>Select a product Template</mat-hint>
                    <mat-error
                        *ngIf="
                            productForm.controls?.templateId?.touched &&
                            productForm.controls?.templateId?.invalid
                        "
                    >
                        <app-error-form-template
                            [form]="productForm"
                            field="templateId"
                            name="Project Template"
                        ></app-error-form-template>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="!asModal" class="w-3/5">
                <app-json-form
                    [template]="$selectedTemplate()"
                    [form]="productForm"
                    [values]="$product().data"
                >
                </app-json-form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div
        *ngIf="showSaveButton"
        class="w-full flex items-center justify-end border-t p-2 pb-0 border-gray-50 dark:border-gray-700"
    >
        <button
            type="submit"
            class=""
            mat-flat-button
            [color]="'primary'"
            [disabled]="!productForm.valid"
        >
            Save
        </button>
    </div>
</form>
