<div class="table-auto md:table w-full border border-gray-800 overflow-auto">
    <div class="table-header-group">
        <div class="table-row">
            @for (column of columns; track column) {
  <div
                class="table-cell text-left first:border-l-none border-l border-gray-800 p-2"
               
            >
                @if (
                        column.sortKey === null || column.sortKey === undefined
                    ) {
<span
                   
                    >{{ column.title }}</span
                >
}
                @if (allowSort && column.sortKey) {
<button
                   
                    mat-stroked-button
                    class="w-auto flex items-center gap-2 rounded text-left"
                    (click)="onSort(column)"
                >
                    <div class="flex items-center gap-1 justify-between">
                        <span>{{ column.title }}</span>
                        <div>
                            <mat-icon
                                [class]="
                                    column.sortOrder === 'asc' &&
                                    currentOrderByParam ===
                                        column.sortKey + ':' + column.sortOrder
                                        ? 'text-primary font-semibold'
                                        : ''
                                "
                                class="text-md"
                                >arrow_upward</mat-icon
                            >
                            <mat-icon
                                [class]="
                                    column.sortOrder === 'desc' &&
                                    currentOrderByParam ===
                                        column.sortKey + ':' + column.sortOrder
                                        ? 'text-primary font-semibold'
                                        : ''
                                "
                                class="text-md"
                                >arrow_downward</mat-icon
                            >
                        </div>
                    </div>
                </button>
}
            </div>
}
        </div>
    </div>
    <div class="table-row-group">
        @for (row of data; track row; let i = $index; let last = $last) {
  <div
           
            class="table-row hover:bg-gray-800 rounded transition duration-300"
            [ngClass]="{ 'cursor-pointer': allowRowClick }"
            (click)="allowRowClick && onRowClick(row)"
        >
            @for (column of columns; track column) {
  
                <ng-container
                    *ngTemplateOutlet="
                        column.template ? column.template : tableRow;
                        context: { row: row, column: column, last: last }
                    "
                ></ng-container>
            
}
        </div>
}
    </div>
</div>

<ng-template let-row="row" let-column="column" #tableRow>
    <div
        class="table-cell flex items-center first:border-l-none border-l border-t border-gray-800 p-2"
        [style]="column.style ?? ''"
        [class]="column.customClass ?? ''"
        [ngClass]="{
            'cursor-pointer': column.clickEvent,
           
        }"
        (click)="allowCellClick && onCellClick(row, column)"
    >
        @if (column.pipe) {
<ng-container
           
            [winDynamicDirective]="column.directive"
        >
            @if (!column.safeHtml) {
<div>
                {{
                    row
                        | winNestedValue : column.key
                        | winDynamicPipe : column.pipe.class : column.pipe.args
                }}
            </div>
}
            @if (column.safeHtml) {
<div
               
                [innerHTML]="
                    row
                        | winNestedValue : column.key
                        | winDynamicPipe : column.pipe.class : column.pipe.args
                        | winSafeHtml
                "
            ></div>
}
        </ng-container>
}
        @if (!column.pipe) {
<ng-container
           
            [winDynamicDirective]="column.directive"
        >
            @if (!column.safeHtml) {
<div>
                {{ row | winNestedValue : column.key }}
            </div>
}
            @if (column.safeHtml) {
<div
               
                [innerHtml]="row | winNestedValue : column.key | winSafeHtml"
            ></div>
}
        </ng-container>
}
    </div>
</ng-template>
