<div
    class="h-full flex-auto pt-4 sm:px-4 sm:pb-4 overflow-hidden"
    cdkScrollable
    *ngIf="template()?.data as template"
>
    <fuse-alert
        [type]="'error'"
        *ngIf="errors().length > 0"
        class="w-full pb-2 overflow-hidden"
    >
        <span fuseAlertTitle>Error</span>
        <span *ngFor="let error of errors()"> {{ error.message }}</span>
    </fuse-alert>
    <form
        *ngIf="leaseAgreementForm() as leaseAgreementForm"
        id="ngForm"
        #leaseAgreementNgForm="ngForm"
        (ngSubmit)="onSaveLeaseAgreement(leaseAgreementNgForm)"
        [formGroup]="leaseAgreementForm"
        class="flex-1 overflow-y-auto"
    >
        <app-json-form
            [template]="template"
            [form]="leaseAgreementForm"
            [values]="leaseAgreement()?.data"
        >
            <ng-template jsonFormFirstCol>
                <div class="w-full my-1">
                    <mat-expansion-panel [expanded]="true" class="mr-2 h-max">
                        <mat-expansion-panel-header class="dark:bg-gray-700">
                            <mat-panel-title>
                                Mandatory Fields
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="flex flex-col gap-1 md:gap-2 mt-2">
                            <input
                                type="hidden"
                                name="templateId"
                                formControlName="templateId"
                            />
                            <input
                                type="hidden"
                                name="propertyId"
                                formControlName="propertyId"
                            />
                            <!-- <mat-form-field class="w-full">
                                <mat-label>Name</mat-label>
                                <input
                                    matInput
                                    name="name"
                                    formControlName="name"
                                />
                                <mat-error
                                    *ngIf="
                                        leaseAgreementForm.controls &&
                                        leaseAgreementForm.controls['name']
                                            ?.touched &&
                                        leaseAgreementForm.controls['name']
                                            ?.invalid
                                    "
                                    class="flex flex-col gap-2"
                                >
                                    <span
                                        *ngIf="
                                            leaseAgreementForm.controls[
                                                'name'
                                            ] &&
                                            leaseAgreementForm.controls['name']
                                                .errors &&
                                            leaseAgreementForm.controls['name']
                                                .errors.required
                                        "
                                        >LeaseAgreement name is mandatory</span
                                    >
                                </mat-error>
                            </mat-form-field> -->

                            <mat-form-field class="w-full">
                                <mat-label>Type</mat-label>
                                <mat-select
                                    placeholder="Type"
                                    name="type"
                                    formControlName="type"
                                >
                                    <mat-option>Select</mat-option>
                                    <ng-container *ngIf="typeOptions()">
                                        <mat-option
                                            *ngFor="let option of typeOptions()"
                                            [value]="option.name"
                                            >{{ option.name }}</mat-option
                                        >
                                    </ng-container>
                                </mat-select>
                                <mat-error
                                    *ngIf="
                                        leaseAgreementForm.controls &&
                                        leaseAgreementForm.controls['type']
                                            ?.touched &&
                                        leaseAgreementForm.controls['type']
                                            ?.invalid
                                    "
                                    class="flex flex-col gap-2"
                                >
                                    <span
                                        *ngIf="
                                            leaseAgreementForm.controls[
                                                'type'
                                            ] &&
                                            leaseAgreementForm.controls['type']
                                                .errors &&
                                            leaseAgreementForm.controls['type']
                                                .errors.required
                                        "
                                        >LeaseAgreement type is mandatory</span
                                    >
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="w-full">
                                <mat-label>Status</mat-label>
                                <mat-select
                                    placeholder="Status"
                                    formControlName="status"
                                    name="status"
                                >
                                    <mat-option>Select</mat-option>
                                    <ng-container *ngIf="statusOptions()">
                                        <mat-option
                                            *ngFor="
                                                let option of statusOptions()
                                            "
                                            [value]="option.name"
                                            >{{ option.name }}</mat-option
                                        >
                                    </ng-container>
                                </mat-select>
                                <mat-error
                                    *ngIf="
                                        leaseAgreementForm.controls &&
                                        leaseAgreementForm.controls['status']
                                            ?.touched &&
                                        leaseAgreementForm.controls['status']
                                            ?.invalid
                                    "
                                    class="flex flex-col gap-2"
                                >
                                    <span
                                        *ngIf="
                                            leaseAgreementForm.controls[
                                                'status'
                                            ] &&
                                            leaseAgreementForm.controls[
                                                'status'
                                            ].errors &&
                                            leaseAgreementForm.controls[
                                                'status'
                                            ].errors.required
                                        "
                                        >LeaseAgreement status is
                                        mandatory</span
                                    >
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="w-full">
                                <mat-label>Property Type</mat-label>
                                <input
                                    matInput
                                    name="propertyType"
                                    formControlName="propertyType"
                                />
                            </mat-form-field>

                            <!-- <mat-form-field class="w-full">
                                <mat-label>Property Type</mat-label>
                                <mat-select
                                    placeholder="Property Type"
                                    formControlName="propertyType"
                                    name="propertyType"
                                >
                                    <mat-option>Select</mat-option>
                                    <ng-container *ngIf="propertyTypeOptions()">
                                        <mat-option
                                            *ngFor="
                                                let option of propertyTypeOptions()
                                            "
                                            [value]="option.name"
                                            >{{ option.name }}</mat-option
                                        >
                                    </ng-container>
                                </mat-select>
                                <mat-error
                                    *ngIf="
                                        leaseAgreementForm.controls &&
                                        leaseAgreementForm.controls[
                                            'propertyType'
                                        ]?.touched &&
                                        leaseAgreementForm.controls[
                                            'propertyType'
                                        ]?.invalid
                                    "
                                    class="flex flex-col gap-2"
                                >
                                    <span
                                        *ngIf="
                                            leaseAgreementForm.controls[
                                                'propertyType'
                                            ] &&
                                            leaseAgreementForm.controls[
                                                'propertyType'
                                            ].errors &&
                                            leaseAgreementForm.controls[
                                                'propertyType'
                                            ].errors.required
                                        "
                                        >Property type is mandatory</span
                                    >
                                </mat-error>
                            </mat-form-field> -->

                            <mat-form-field class="w-full">
                                <mat-label>Daily Rent</mat-label>
                                <input
                                    type="number"
                                    matInput
                                    name="dailyRent"
                                    formControlName="dailyRent"
                                />
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Weekly Rent</mat-label>
                                <input
                                    type="number"
                                    matInput
                                    name="weeklyRent"
                                    formControlName="weeklyRent"
                                />
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Monthly Rent</mat-label>
                                <input
                                    type="number"
                                    matInput
                                    name="monthlyRent"
                                    formControlName="monthlyRent"
                                />
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Annual Rent</mat-label>
                                <input
                                    type="number"
                                    matInput
                                    name="annualRent"
                                    formControlName="annualRent"
                                />
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>
                </div>
            </ng-template>
        </app-json-form>
    </form>
</div>
