@if (
        form.controls[field] &&
        form.controls[field].errors &&
        form.controls[field].errors.required
    ) {
<span
   
    >{{ name ?? field }} is mandatory</span
>
}
@if (
        form.controls[field] &&
        form.controls[field].errors &&
        form.controls[field].errors.min
    ) {
<span
   
    >{{ name ?? field }} minimum value is
    {{ form.controls[field].errors.min.min }}</span
>
}
@if (
        form.controls[field] &&
        form.controls[field].errors &&
        form.controls[field].errors.max
    ) {
<span
   
    >{{ name ?? field }} maximum value is
    {{ form.controls[field].errors.max.max }}</span
>
}
@if (
        form.controls[field] &&
        form.controls[field].errors &&
        form.controls[field].errors.minlength
    ) {
<span
   
    >{{ name ?? field }} minimum length value is
    {{ form.controls[field].errors.minlength.requiredLength }}
</span>
}
@if (
        form.controls[field] &&
        form.controls[field].errors &&
        form.controls[field].errors.maxlength
    ) {
<span
   
    >{{ name ?? field }} maximum length value is
    {{ form.controls[field].errors.maxlength.requiredLength }}</span
>
}
@if (
        form.controls[field] &&
        form.controls[field].errors &&
        form.controls[field].errors.pattern
    ) {
<span
   
    >{{ name ?? field }} is invalid, please follow this rule "{{
        this.getPatternName(
            form.controls[field].errors.pattern.requiredPattern
        )
    }}"</span
>
}
@if (
        form.controls[field] &&
        form.controls[field].errors &&
        form.controls[field].errors.nullValidator
    ) {
<span
   
    >{{ name ?? field }} cannot be null</span
>
}
@if (
        form.controls[field] &&
        form.controls[field].errors &&
        form.controls[field].errors.email
    ) {
<span
   
    >{{ name ?? field }} is incorrect (example&#64;test.com)</span
>
}
