<div class="w-full flex flex-col">
    <div class="w-full">
        <app-toolbar [title]="'Projects'">
            <div>
                <button
                    mat-button
                    color="primary"
                    aria-label="Add project"
                    (click)="onAddProject($event)"
                >
                    <mat-icon>add</mat-icon> Add a project
                </button>
            </div>
        </app-toolbar>
    </div>
    <div class="w-full p-3" *ngIf="$projects() as projects">
        <win-table
            [columns]="columns"
            [data]="projects.data"
            [allowSort]="true"
            [allowRowClick]="true"
            [serverSideSorting]="true"
            (sort)="onSort($event)"
            (tableRow)="onRowClick($event)"
        ></win-table>
        <div class="flex justify-center items-center py-2">
            <win-paginator
                [meta]="projects.meta"
                (pageChange)="onPageChange($event)"
            >
            </win-paginator>
        </div>
    </div>
</div>

<ng-template #actionsTpl let-row="row">
    <div class="inline-flex items-center gap-1">
        <button
            mat-icon-button
            matTooltip="Quick edit project"
            color="primary"
            aria-label="Edit project"
            (click)="onEditProject($event, row)"
        >
            <mat-icon class="text-blue-500">edit</mat-icon>
        </button>
        <button
            mat-icon-button
            matTooltip="Delete project"
            color="warn"
            aria-label="Delete project"
            (click)="onDeleteProject($event, row)"
        >
            <mat-icon class="text-red-500">delete</mat-icon>
        </button>
    </div>
</ng-template>
