@if (product().data; as product) {
<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-hidden"
   
>
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-4 sm:py-4 sm:px-6 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a
                            class="whitespace-nowrap text-primary-500"
                            [routerLink]="'./..'"
                            >Products</a
                        >
                    </div>

                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <span class="ml-1 text-secondary">{{
                            product?.name
                        }}</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a
                        class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                        [routerLink]="'./..'"
                    >
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"
                        ></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    {{ product?.name }}
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button
                mat-stroked-button
                type="submit"
                [color]="'secondary'"
                form="ngForm"
                (click)="onSave($event)"
            >
                <mat-icon
                    class="icon-size-7 pr-2"
                    [svgIcon]="'heroicons_outline:plus-circle'"
                ></mat-icon>
                Save
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="">
        <nav
            mat-tab-nav-bar
            [backgroundColor]="background"
            [tabPanel]="tabPanel"
        >
            <a
                mat-tab-link
                routerLink="general-details"
                routerLinkActive="mat-tab-label-active"
                >General Details
            </a>
            <a
                mat-tab-link
                routerLink="documentation"
                routerLinkActive="mat-tab-label-active"
                >Documentation</a
            >
        </nav>
        <mat-tab-nav-panel #tabPanel>
            <router-outlet></router-outlet
        ></mat-tab-nav-panel>
    </div>
</div>
}
