<mat-form-field *ngIf="isTextField(field.type)" class="w-full">
    <mat-label *ngIf="field.name !== ''">{{ field.name }}</mat-label>
    <input
        matInput
        [type]="field.type"
        [name]="field.name"
        [formControl]="form.controls?.details?.controls?.[field.name]"
        [placeholder]="field.placeholder ?? field.name"
    />
    <mat-hint *ngIf="field?.hintMessage">{{ field.hintMessage }}</mat-hint>

    <mat-error
        *ngIf="
            form.controls &&
            form.controls[field.name]?.touched &&
            form.controls[field.name]?.invalid
        "
        class="flex flex-col gap-2"
    >
        <app-error-form-template
            [form]="form"
            [field]="field.name"
        ></app-error-form-template>
    </mat-error>
</mat-form-field>
