<form
    *ngIf="documentForm() as documentForm"
    #documentNgForm="ngForm"
    (ngSubmit)="onSubmitDocument(documentNgForm)"
    [formGroup]="documentForm"
>
    <div
        class="flex flex-col flex-auto md:w-160 md:min-w-160 max-h-160 -m-6 overflow-y-auto"
    >
        <div
            class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
        >
            <div class="text-lg font-medium">{{ data.title }}</div>
            <button
                mat-icon-button
                (click)="onCloseModal($event)"
                [tabIndex]="-1"
            >
                <mat-icon
                    class="text-current"
                    [svgIcon]="'heroicons_outline:x-circle'"
                ></mat-icon>
            </button>
        </div>

        <div
            class="flex flex-col flex-1 items-start w-full p-6 sm:p-8 space-y-3 overflow-y-auto"
        >
            <fuse-alert
                [type]="'error'"
                *ngIf="errors().length > 0"
                class="w-full"
            >
                <span fuseAlertTitle>Error</span>
                <span *ngFor="let error of errors()"> {{ error.message }}</span>
            </fuse-alert>
            <mat-form-field [ngClass]="formFieldHelpers" class="w-full mb-4">
                <mat-label
                    >{{
                        data.action === "upload" ? "File" : "Folder"
                    }}
                    Name</mat-label
                >
                <input
                    type="text"
                    formControlName="name"
                    matInput
                    [required]="data.action !== 'upload'"
                    [placeholder]="
                        data.action === 'upload' ? 'File name' : 'Folder name'
                    "
                />
                <mat-hint
                    >Please type in the
                    {{ data.action === "upload" ? "file" : "folder" }}
                    name</mat-hint
                >
                <mat-error
                    *ngIf="
                        documentForm.controls?.name?.touched &&
                        documentForm.controls?.name?.invalid
                    "
                >
                    <app-error-form-template
                        [form]="documentForm"
                        field="name"
                        [name]="
                            data.action === 'upload'
                                ? 'File name'
                                : 'Folder name'
                        "
                    ></app-error-form-template>
                </mat-error>
            </mat-form-field>
            <div class="relative" *ngIf="data.action === 'upload'">
                <input
                    type="file"
                    class="absolute inset-0 w-full h-full opacity-0 cursor-pointer"
                    id="fileInput"
                    formControlName="file"
                    required
                    [placeholder]="'File'"
                    (change)="onSelectedFile($event)"
                />
                <label
                    for="fileInput"
                    class="bg-primary-500 hover:bg-primary-700 text-white py-2 px-4 rounded-full cursor-pointer"
                >
                    Choose File
                </label>
                <span class="pl-1" id="fileName">
                    {{
                        selectedFile !== null
                            ? selectedFile.name
                            : "No file selected"
                    }}
                </span>
            </div>
        </div>
        <div
            class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700"
        >
            <button mat-button (click)="onCloseModal($event)">Close</button>
            <button
                type="submit"
                class="px-6 ml-3"
                mat-flat-button
                [color]="'primary'"
                [disabled]="!documentForm.valid"
            >
                Save
            </button>
        </div>
    </div>
</form>
